@import "./styles/theme.css";
@import "./styles/breakpoints.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: var(--catec-font-family);
  color: var(--catec-color-text);
  -webkit-font-smoothing: antialiased;
}
